<%- include ('partials/header') %>

<div class="container mx-auto p-3" style="width: 600px;">
    <h1><%= campground.name %></h1>
    <img src=" <%= campground.image %>" class="img-fluid max-width: 100%;">   
    

    <p class="p-2"><%= campground.description %></p>

</div>

<%- include ('partials/footer') %>