<%- include("../partials/header") %>

<div class="container">
<header class="jumbotron">
    <div class="container">
        <h1> Welcome to Homes</h1>
        <p id="subtitle">View our hand-picked unique selection of incredible homes from all over the world </p>
        <p>
            <a class="btn btn-primary btn-l" href="/campgrounds/new">Add a new place</a>
        </p>
    </div>


</header>

    <div class="row text-center">
    <% campgrounds.forEach((campground) => { %>
        <div class="col-md-4 col-10 py-sm-3">
            <div class="item">
                <div class="img-thumbnail">
                    <div class="figure p-1.5">
                        <img src=" <%= campground.image %>" class="img-fluid">   
                            <figcaption class="figure-caption p-3"><%= campground.name %></figcaption> 
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id%>" class="btn btn-sm btn-primary"> More infos </a>
                    </p>
                </div>
            </div >
        </div>
    <% }); %>
    </div>
</div>

<%- include("../partials/footer") %>
